.grey-bg {
  background: #fff;
  padding: 50px 0;
  display: flex;
  width: 100%;
  margin: 0px !important;
}
.Uspehhh {
  background-color: #fff;
}
.contact-bg {
  background: #fff;
}
.title-small span:after {
  background: #fff;
}
